<div><h1>Задание</h1>

<p>Написать программу, определяющую, сколько из чисел в диапазоне
от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при
возведении в квадрат, образуют палиндромы. Например: 22 → 484 . Вывести на печать числа, квадраты и их количество.</p>

<h2>Форма ввода</h2>
</div>
<div class="form-io">
    <%= form_tag('/home/output', :method => 'get',
    remote: true, id: 'calc_form') do %>
        <%= text_field_tag :txt, '', placeholder: "Введите число", class: 'textarea', id: 'input-field'%>
        <%= submit_tag 'Найти', class: 'button', id: 'submit-but' %>
    <% end %>
</div>
<div id="result"></div>