var result = `
<div class="form-io">
<% if @arr.empty? %>
<b>Ошибка ввода</b><br>
<%else%>
<h2>Результат</h2>
<table>
<tr>
<th>Число</th>
<th>Квадрат</th>
</tr>
<% @arr.each do |num| %>
<tr>
<td><%= num %></td>
<td><%= num**2 %></td>
</tr>
<% end %>
</table>
<%end%>
</div>
`

$('#result').empty();
$('#result').append(result);